.navbar{
  background-color: #002B5B;
  padding: 15px 20px;
}
.navbar-brand{
  font-family: Poppins, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 23px;
  color: #EA5455;
}
.navbar-brand:hover{
  color: #e0d1b8;
}

.nav-link{
  color: #F9F5EB;
  font-weight: 500;
}
.nav-link:hover{
  color: #e0d1b8;
}
.nav-link:active{
  color: #e0d1b8;
}


.footer{
  background-color: #002B5B;
  color: #EA5455;
  text-align: center;
  width: 100%;
  position: absolute;
  padding: 20px;
  bottom: 0;
}
.footer .copyright{
  color: #e0d1b8;
}